@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;

    --primary: 262 100% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 7%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 262 100% 54%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 96%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 96%;

    --primary: 262 100% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 262 100% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ql-container {
  font-size: 16px !important;
}

@import '~@uploadthing/react/styles.css';
